@font-face {
    font-family: 'GenshinImpact';
    src: url('fonts/genshinfont.ttf');
    font-weight: normal;
    font-style: normal;
}

#ghost {
    z-index: 999;
    position: fixed;
    right: -13vw;
    bottom: -10vw;
    width: 30vw;
}

.nav-dropdown {
    opacity: 0;
    pointer-events: none;
    text-align: right;
    margin-right: 10px;
}

.nav-dropdown svg {
    color: white !important;
    background-color: #151515;
    flex-grow: 0;
    padding: 10px;
    margin: 5px 0 0 0;
    border-radius: 10px;
}

#nav, .content {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);

    height: 60px;
    width: 80vw;
}

#nav {
    z-index: 996;
    user-select: none;
    display: flex;
    position: fixed;
    gap: 28px;
    
    font-size: 20px;
}

#nav > div {
    display: flex;

    transition: 0.2s;
    overflow: hidden;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    background-color: #191919;
    border-radius: 10px;
}

#nav > div > * {
    flex: 1;
}
#nav > div > p {
    margin-left: 10px;
}

#nav > :last-child {
    max-width: 60px;
    font-size: 27px;
}

.content {
    display: none;
    top: 108px;
    height: auto;
    min-height: 500px;
    
    border-radius: 10px;
    background-color: #222222;

    align-items: center;
    gap: 50px;
    flex-direction: column;
}
.content > :first-child {margin-top: 50px;}
.content > :last-child {margin-bottom: 50px;}

#top {
    z-index: 995;
    position: fixed;
    top: 0px; left:0;
    width: 100%;
    height: 20px;

    background-color: #151515;
    -webkit-box-shadow: 0px 11px 42px 37px #151515; 
    box-shadow: 0px 11px 42px 37px #151515;
}

.expandnav-class {
    animation-name: expandnav;
    animation-fill-mode: both;
    animation-duration: 0.3s;
}

@keyframes expandnav {
    0% {width: 80vw;}
    100% {width: 84vw;}
}

.shrinknav-class {
    animation-name: shrinknav;
    animation-fill-mode: both;
    animation-duration: 0.3s;
}

@keyframes shrinknav {
    0% {width: 84vw;}
    100% {width: 80vw;}
}

.stats {
    display: flex;
    width: max-content;
    gap: 80px;
    background-color: #303030;
    padding: 20px;
    border-radius: 20px;
}
.stats > img {
    pointer-events: none;   
    max-width:250px;
    max-height:100%;
}
.stats > * {
    margin: auto;
}
.stats h1 {
    padding-bottom: 15px;
    font-family: 'GenshinImpact';
}
.stats p {
    font-family: 'GenshinImpact';
    font-size: 19px;
    font-weight: 100;
}
.stats > * > div {
    display: flex;
    margin: auto;
    align-items: center;
}

.stats > * > div > * {
    padding-bottom: 5px;
}

.stats > * > div > p {

    width: 150px; height: auto;
    text-align: left;
}
.stats > * > div > img {
    pointer-events: none;
    width: 20px;
    padding-right: 10px;
    text-align: left;
}

.stats > * > div :nth-child(3) {
    text-align: right;
    font-weight: 600;
}

.pickers {
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.pickers > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #404040;
    border-radius: 10px;
    width: 58vw;
    padding: 20px;
}
.pickers > div > label:last-of-type:nth-of-type(n+2) {
    text-align: center;
    border-radius: 10px;
    background-color: #353535;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    min-width: 100px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-field {
    border-radius: 10px;
    background-color: #303030;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    min-width: 100px;
}

.dropdown-content {
    z-index: 998;
    transform-origin: 50% bottom;
    display: none;
    flex-direction: column-reverse;
    position: absolute;

    bottom: 40px;
    padding-bottom: 10px;
}
.dropdown-content-static {
    display: flex;
}

.dropdown-content :last-child {
    border-radius: 10px 10px 0 0;
}
.dropdown-content :first-child {
    border-radius: 0 0 10px 10px;
}

.dropdown-content > * {
    padding: 5px 10px;
    flex-grow: 1;
    background-color: #303030;
    min-width: 80px;
}

.dropdown-content > *:hover {
    transition: 0.2s;
    background-color: #151515;
    user-select: none;
    cursor: pointer;
}

@keyframes dropdown-appear {
    0% {
        transform: scaleY(0.8);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

.dropdown:hover .dropdown-content-animate {
    display: flex;
    animation-name: dropdown-appear;
    animation-duration: 0.3s;
}